@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
    font-family: 'Nunito', sans-serif;
}

*{
    outline: 2px solid transparent !important;
    outline-offset: 2px !important;
}

@layer base {
    h1 {
          @apply text-2xl text-white uppercase tracking-widest md:text-4xl;
    }
    input[type="checkbox"]{
        appearance: none !important;
        background: transparent;
    }
    input[type="checkbox"]:checked{
        color: #C18E60 !important;
    }
    /*input[type="checkbox"]:hover{*/
    /*    color: #C18E60 !important;*/
    /*}*/
    input {
        @apply tracking-widest font-sans;
    }
    select {
        @apply bg-select-arrow;
        background-size: 5rem;
    }
    article p {
        @apply my-4;
    }
    article a {
        @apply text-primary hover:text-secondary;
    }
    article .bold {
        @apply text-primary font-bold;
    }
    .container-fluid {
        @apply w-11/12;
    }
    /*body {*/
    /*    background: url("../images/bg-dark-desktop.png") no-repeat;*/
    /*    background-size: cover;*/
    /*}*/

}


@layer components {
    .h-logo {
        @apply text-4xl text-secondary tracking-widest;
    }
    .card-dark {
          @apply flex flex-col bg-secondaryBg h-80 rounded-3xl w-full justify-start items-center py-4 xl:w-2/3;
    }
    .card-dark-without-prop {
        @apply flex flex-col py-10 bg-secondaryBg rounded-3xl justify-start items-center;
    }
      .change-v-button {
          @apply h-full text-primary font-semibold text-3xl;
      }
      .register-select {
          @apply text-base mt-7 tracking-widest w-4/5 bg-transparent rounded-none p-0 h-12 border-0 border-b border-white uppercase text-white md:text-2xl;
          background-position: right -1.8rem center;
      }
      .register-input-holder {
          @apply flex flex-row h-16 items-end border-b border-white;
      }
      .register-input {
          @apply bg-transparent text-white p-0 text-center border-0 placeholder-white;
      }
    .input-label {
        @apply text-white uppercase text-base tracking-widest md:text-2xl;
    }
    .login-input {
        @apply flex-1 p-2 text-white text-base block mt-1 w-full bg-transparent border-0 placeholder-white tracking-widest md:text-2xl;
    }
      .input-icon {
          @apply w-auto h-full;
      }
      .register-input-w-full {
          @apply flex-1 p-2 text-white text-base block mt-1 w-full bg-transparent border-0 placeholder-white tracking-widest md:text-2xl;
      }
      .register-input-w-full-holder {
          @apply flex border-0 border-b border-white h-16 mt-4 w-4/5;
      }
      .btn-brown {
          @apply text-center py-2 text-sm md:text-lg font-light rounded-sm px-4 py-2 mt-4 bg-primary border border-transparent text-white uppercase tracking-widest transition hover:bg-secondary;
      }
      .heading-brown {
          @apply w-full text-center p-0 text-primary uppercase font-bold tracking-widest text-4xl;
      }

    .checkbox-holder {
        @apply w-2/3 h-16 flex items-center justify-center mt-4;
    }
    .checkbox-holder input {
        @apply h-7 w-7 bg-transparent;
        /*position: absolute;*/
        /*opacity: 0;*/
        /*cursor: pointer;*/
    }

    /*.checkmark {*/
    /*    position: absolute;*/
    /*    top: 0;*/
    /*    left: 0;*/
    /*    height: 25px;*/
    /*    width: 25px;*/
    /*    background-color: #eee;*/
    /*    border-radius: 50%;*/
    /*}*/

    .checkbox-holder label {
        @apply flex-1 uppercase text-sm tracking-widest text-white 2xl:text-lg;
    }

}
/*@media (max-height: 860px) {*/
/*    .light-card {*/
/*        height: 32rem !important;*/
/*    }*/
/*}*/
